.app-header {
  display: flex;
  justify-content: space-between;
  background-color: $header-index-color;
  padding: 5px;
  color: $clr6;
  font-weight: bold;
  .logo {
    font-family: Pacifico;
    display: flex;
    align-items: center;
  }

  .user-details {
    display: flex;
    align-items: center;
    gap: 1em;
    .logged-user {
      display: flex;
      align-items: center;
      span {
        font-family: OpenSans-Regular;
      }
    }
  }

  a {
    color: $clr6;
    letter-spacing: 2px;
    margin-left: 10px;
    text-decoration: none;

    background-color: initial;

    svg {
    }

    &:active {
      color: $clr6;
    }

    &:visited {
      color: $clr6;
    }
  }

  .user-info {
    padding-left: 100px;

    .score {
      background-color: $clr2;
      color: $clr6;
      padding: 8px;
      margin: 10px;
      border-radius: 50%;
    }

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .user-info .btn-link {
    color: $clr2;
  }

  nav {
    font-size: 0.8em;
    background-color: $clr5;
    padding: 5px;
  }

  nav a:first-child {
    margin-right: 30px;
  }

  nav a:not(:first-child) {
    padding: 0 5px;
    margin: 10px;
  }

  nav .active {
  }
}
