.app-header {
  display: flex;
  justify-content: space-between;
  background-color: $header-index-color;
  padding: 5px;
  color: $clr6;
  font-weight: bold;
  flex-wrap: wrap;
  width: 100%;

  .logo {
    font-family: Pacifico;
    display: flex;
    align-items: center;
    margin-left: 0.5em;
    width: max-content;
  }

  .app-header-links {
    display: flex;
    align-items: center;
    margin-left: 1em;


    .first {
      margin-left: 1.5em;
    }

    .app-header-link {
      background-color: inherit;
      font-family: OpenSans-Regular;
      font-weight: 400;
      border-radius: 3px;
      padding-left: 12px;
      color: #fff;
      cursor: pointer;
      font-size: 13.5px;
      letter-spacing: 0;
      position: relative;
      // display: flex;
      display: flex;
      align-items: center;
      transition: background-color .07s;

      span {
        font-size: 26px;
        position: relative;
        display: flex;
        align-items: center;
      }

      &:hover {
        background-color: #0000001c;
      }
    }
  }

  .board-search {
    padding: 2px;
    position: relative;

    .search-container {
      display: flex;
      align-items: center;
      height: 32px;
      width: 100%;
      padding: 0px 12px 0px 10px;
      box-sizing: border-box;
      outline: none;
      border-radius: 5px;
      font-size: 14px;
      /* line-height: 20px; */
      /* border: 2px solid var(--dynamic-text-transparent, rgba(255, 255, 255, 0.25)); */
      box-shadow: none;
      background-color: rgba(255, 255, 255, 0.2);
      color: var(--ds-text-subtlest, #ffffff);

      input {
        box-shadow: none;
        color: var(--ds-text-subtlest, #ffffff);
        background: none;
        border: none;
        outline: none;
        height: 32px;
        width: 100%;
        padding: 0px 6px 0px 10px;
        font-size: 14px;
        box-shadow: none;

        &::placeholder {
          color: #fff;
          font-family: OpenSans-Regular;
          font-size: 14px;
        }
      }

      span {
        display: flex;
        font-size: 16px;
      }
    }
  }

  .filtered-results-board {
    z-index: 100;
    position: absolute;
    box-shadow: var(--ds-shadow-raised,
        0 1px 1px rgba(9, 30, 66, 0.25),
        0 0 0 1px var(--ds-border, rgba(9, 30, 66, 0.08)));
    background: var(--ds-surface-raised, #ffffff);
    border: 1px solid var(--ds-border, rgba(9, 30, 66, 0.08));
    border-radius: 3px;
    width: 460px;
    max-width: 100%;
    padding: 24px;
    color: black;
    list-style: none;
    font-family: OpenSans-Regular;
    padding: 0;

    .filtered-boards-title {
      padding: 0.5em 0.6em;
    }

    p {
      color: var(--ds-text-subtle, #5e6c84);
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      margin-top: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 20px;
      margin: 0;

      padding-left: 1.5em;
    }

    a {
      padding: 0;
      margin: 0;
      gap: 1em;
      letter-spacing: 0.5px;
      display: flex;
      align-items: center;
    }

    li {
      padding: 0.5em;

      &:hover {
        background-color: #e6e7fb;
      }
    }
  }

  .login-signup-page {
    display: flex;
    margin-right: 15px;

    a {
      display: flex;
      align-items: center;
    }
  }

  .user-details {
    display: flex;
    align-items: center;
    gap: 1em;

    .logged-user {
      display: flex;
      align-items: center;
      cursor: pointer;

      img {
        border-radius: 50%;
      }

      span {
        font-family: OpenSans-Regular;
      }
    }
  }

  a {
    color: $clr6;
    letter-spacing: 2px;
    margin-left: 10px;
    text-decoration: none;

    background-color: initial;

    svg {}

    &:active {
      color: $clr6;
    }

    // &:visited {
    //   color: $clr6;
    // }
  }

  .user-info {
    padding-left: 100px;

    .score {
      background-color: $clr2;
      color: $clr6;
      padding: 8px;
      margin: 10px;
      border-radius: 50%;
    }

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .user-info .btn-link {
    color: $clr2;
  }

  nav {
    font-size: 0.8em;
    background-color: $clr5;
    padding: 5px;
  }

  nav a:first-child {
    margin-right: 30px;
  }

  nav a:not(:first-child) {
    padding: 0 5px;
    margin: 10px;
  }

  .options {
    background-color: inherit;
    font-family: OpenSans-Regular;
    font-weight: 400;
    border-radius: 3px;
    padding-left: 12px;
    padding: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 13.5px;
    letter-spacing: 0;
    position: relative;
    display: flex;
    align-items: center;
    visibility: hidden;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2392156863);
    }
  }
}


@media (max-width:460px) {
  .search-container {
    visibility: hidden;
    position: fixed;
  }
}


@media (max-width:970px) {

  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .app-header {

    .options {
      visibility: visible;
      margin-left: 15px;
    }

    .app-header-links {
      flex-direction: column;
      opacity: 0;
      position: fixed;
      left: 150px;
      background: #EBECF0;
      width: 300px;
      top: 49px;
      z-index: 10;
      align-items: flex-start;
      padding-top: 8px;
      gap: 0;
      box-shadow: var(--ds-shadow-raised, 0 1px 2px -1px rgba(9, 30, 66, 0.2509803922), 0 0 0 1px var(--ds-border, rgba(9, 30, 66, 0.0784313725)));
      padding-bottom: 8px;
      transform: translateY(-500%);

      .app-header-link {
        color: #172B4D;
        padding: 5px;
        padding-left: 8px;
        width: 100%;
        justify-content: space-between;
      }

      &.modal-open {
        opacity: 1;
        justify-content: end;
        transform: translateY(0);
      }
    }

  }

}