.colors {
    display: flex;
    flex-wrap: wrap;

    .color {
        width: 135.6px;
        height: 96px;
        border-radius: 8px;
        cursor: pointer;
        margin: 0 4px;
        margin-bottom: 8px;
    }
}