.card-list {
  box-sizing: border-box;

  ul {
    list-style: none;
    padding-left: 0;
  }

  a {
    text-decoration: none;
  }

  li {
    background-color: $clr6;
    position: relative;
    box-shadow: (0 1px 0 $clr17);
    height: fit-content;
    min-height: 33px;
    border-radius: $edge-round;

    button {
      opacity: 0;
    }

    &:hover {
      button {
        opacity: 1;
      }
    }

    .delete-card-btn {
      position: absolute;
      right: 5%;
      top: 5%;
    }

    .card-preview {
      margin: 0.5em;
      cursor: pointer;
      overflow: hidden;
      overflow-wrap: break-word;
      white-space: break-spaces;
      padding-bottom: 10px;

      .member-images {
        display: flex;
        justify-content: flex-end;
      }

      .member-image {
        margin-top: 1em;
        width: rem(28px);
        height: rem(28px);
        border-radius: 20em;
        // position: relative;
        // left: 75%;
      }

      p {
        margin: 0;
        position: relative;
        top: 6px;
        height: 100%;
        color: $clr7;
      }
    }
  }
}

.bottom-container {
  // background-color: yellow;

  .add-card {
    background-color: transparent;
    width: 100%;
    border-radius: $edge-round;
    height: rem(30px);
    font-family: "Open Sans", sans-serif;
    color: #5e6c84;
    text-align: left;
    padding: 4px 8px;

    &:hover {
      background-color: #091e4214;
      color: #172b4d;
    }
  }
}
