.card-detail-shorcut {
    position: absolute;
    width: 270px;
    z-index: 5;
    top: -6%;
    left: -2%;

    input {
        border: none;
        outline: none;

        &:focus {
            outline: none;
        }
    }




}

.shortcut-actions {
    li {
        display: flex;
        width: fit-content;
        padding: 0px 7px;
        min-height: 32px;
        border-radius: 3px;
        color: #c7d1db;
        cursor: pointer;
        background: #0009;
        margin: 0 0 4px 8px;
        padding: 6px 12px 6px 8px;
        text-decoration: none;
        transition: transform 85ms ease-in;

        a {
            display: flex;
            color: #c7d1db;
            &:hover {

                color: #fff;
            }
        }

        &:hover {
            background: #000c;
            color: #fff;
            // transform: translateX(-5px);
        }
    }

}

.shortcut-modal {
    background-color: rgba(0, 0, 0, 0.464);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: default;
    z-index: 4;
}