.card-detail-shorcut {
    position: absolute;
    width: 270px;
    z-index: 5;
    top: -6%;
    left: -2%;

    input{
        border: none;
    }


}

.shortcut-modal {
    background-color: rgba(0, 0, 0, 0.464);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: default;
    z-index: 4;
}