* {
  box-sizing: border-box;
}

::selection {
  // color: $clr6;
}

html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
  line-height: 1.6;
  // color: $clr2;
}

/* Remove default scrollbar */
::-webkit-scrollbar {
  padding-left: 2px;
  width: 5px;
  height: 15px;
  border-radius: 10px;
  margin: 0 10px;
  
  /* Width of the scrollbar */
  background-color: #c9c9c997;
  /* Background color of the scrollbar */
}

/* Add custom scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #b7b7b7;
  padding: 0px 5px;
  /* Color of the thumb */
  border-radius: 10px;
  /* Rounded corners of the thumb */
  transition: background-color 0.2s ease-in-out;
  /* Transition for when the thumb is hovered over */
}

/* Change the color of the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555555d4;
  /* New color of the thumb on hover */
}

textarea {
  resize: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  font-size: rem(18px);
  margin: 0;
  // max-width: 1024px;
  margin: auto;
}

.app {
  height: 100vh;
  max-height: 100vh;
  display: grid;
  flex-direction: column;
  min-height: 90vh;
  grid-template-rows: auto 1fr;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: caveat;
  margin: 0 0 0.6em;
  line-height: 1;
}

section,
main,
footer {
  padding: 5px;
}

img {
  width: 100%;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}