.board-index {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  // background-color: yellow;
  padding: 0;

  .boards-list {
    // background-color: rgb(73, 73, 221);
    width: 53%;
    height: 95vh;
  }

  .side-bar {
    // background-color: rgb(248, 56, 56);
    width: 17%;
    height: 95vh;
  }
}
