.board-index {
    display: flex;
    flex-direction: row-reverse;
    min-height: 95vh;
    background-color: yellow;

    .boards-list {
        background-color: rgb(73, 73, 221);
        width: 80%;
        height: 95vh;
    }

    .side-bar {
        background-color: rgb(248, 56, 56);
        width: 20%;
        height: 5vh;
    }
}