.card-details {
  header {
    height: rem(115px);
    min-height: rem(115px);
    grid-area: header;
  }
  display: grid;
  grid-template-columns: 30px 2.5fr 0.8fr;
  grid-template-rows: 0.3fr 3fr;
  grid-template-areas:
    "header header header"
    "content content side-bar";
  width: em(685px);
  min-width: em(685px);
  min-height: em(910px);
  background-color: #ebecf0;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $clr7;

  .side-bar {
    grid-area: side-bar;
    padding-top: 5em;
  }

  .card-member {
    display: flex;
    align-items: center;

    .member-image {
      height: em(28px);
      margin-left: 3px;
      border-radius: 100%;
      width: em(28px);
    }
    button{
      margin-left: 3px;
      height: em(38px);
      border-radius: 100%;
      width: em(38px);
      background-color:#caccce74;
      transition: background-color 0.3s;
      &:hover{
        background-color:#caccced5;
      }
    }
    
  }

  .card-comments {
    .member-image {
      height: em(28px);
      border-radius: 25em;
      width: em(28px);
    }
  }

  .card-details-sidebar {
    .member-image {
      height: em(28px);
      border-radius: 25em;
      width: em(28px);
    }
    .side-bar-btn {
      width: 100%;
      padding: 6px 12px;
      height: 32px;
      background-color: #091e420a;
      margin-top: 8px;
      text-align: start;
    }
  }

  .card-content {
    padding: 0px rem(8px) rem(8px) rem(16px);
    padding: em(20px);
    grid-area: content;
    .card-title {
      font-size: rem(20px);
      .card-icon-title {
        padding-right: 0.7em;
      }
    }
  }
}
