.home {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  width: 100%;
  height: 100%;
}


.hero {

  color: #fff;
  background: linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
  overflow: hidden;
  text-align: center;
  padding: 0px;
  position: relative;

  .wave {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
}

.home-header {
  font-family: HelveticaNeue;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px rem(20px);
  position: fixed;
  z-index: 3;

  .logo {
    padding-left: 6vw;

    a {
      color: rgb(0, 60, 255);
      font-size: 2rem;
      text-decoration: none;
    }

    .logo-text {
      text-decoration: none;
      font-family: Pacifico;
      letter-spacing: 2px;

      &:hover {
        text-decoration: none;
      }
    }

    .logo-icon {
      font-size: 1.5rem;
    }

    &:hover {
      text-decoration: none;
    }
  }
  &:hover {
    box-shadow: rgb(9 30 66 / 15%) 0px 0.3rem 1rem 0px;
  }
}

.user-actions {
  display: flex;
  flex-basis: 30%;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  background-color: #fff;
  font-family: "Open Sans";

  .login {
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    color: $clr7;
  }

  .signup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 60, 255);
    height: 100%;
    width: 220px;
    color: #fff;
    text-decoration: none;
    margin-right: 6vw;

    &:hover {
      background-color: rgb(5, 40, 153);
    }
  }
}

.main {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 85vh;
  padding: 0px 10vw;

}

.main-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;

  h1 {
    margin-top: 20px;
    font-size: 3em;
    line-height: 1.25;
    margin-block-end: 8px;
  }

  p {
    font-size: 1.6em;
    margin-block-end: 24px;
    padding-top: 0.1vw;
    margin-bottom: em(20px);
  }

  .hero-text {
    font-family: OpenSans-Bold;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
  }

  .hero-container {
    flex-basis: 50%;
    z-index: 2;
  }
}

.get-started {
  margin-top: em(40px);
  margin-bottom: em(40px);
  align-self: flex-start;
  font-size: 1.7rem;



  a {
    background-color: rgb(0, 60, 255);
    border-radius: 34px;
    text-decoration: none;
    color: #fff;
    padding: 1.5rem 1.4rem;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgb(5, 40, 153);
    }
  }
}

.details {
  padding: 0px 10vw;
  color: rgb(9, 30, 66);

  h4 {
    font-size: 1rem;
    text-transform: uppercase;

  }

  h1 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }
}

.example {
  padding: 0px 10vw;

}

.example-container {
  color: rgb(9, 30, 66);
  display: flex;
  gap: 4vw;

  .example-text {
    flex-basis: 30%;

    h5 {
      font-size: 1em;
    }

    p {
      font-size: 1em;
    }
  }



  .example-img {
    flex-basis: 70%;
  }

}

@media (max-width:1420px) {

  .main {
    height: 85vh;
  }

  .get-started {
    margin-top: 30px;
  }

  .home-header {}

}

@media (max-width:1000px) {


  .main {
    height: fit-content;
  }

  .get-started {
    margin-top: 30px;
  }

  .user-actions {
    .login {
      font-size: 0.8em;
      width: 90px;
    }

    .signup {
      font-size: 0.8em;
      width: 160px;
    }
  }

  .get-started {
    align-self: center;
  }

  .main-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
      width: 65%;
    }


  }

}

@media (max-width:500px) {
  .home-header {}

}