.card-checklists {
  h3 {
    font-size: $card-details-header;
    display: flex;
    font-size: 16px;
    align-items: center;
    gap: 0.7em;
    font-size: 14px;
    font-family: OpenSans-Regular;
    svg {
      font-size: 21px;
    }
  }
  .checklist-title {
    display: flex;
    justify-content: space-between;
  }

  .checklist {
    padding: 0;
    .add-checklist-todo-btn {
      padding: 6px 12px;
      height: 32px;
      background-color: #091e420a;
      margin-top: 8px;
      text-align: start;
      &:hover {
        background-color: #091e4214;
      }
    }
    .todo-btns {
      padding-left: 2em;
    }

    .todo-input {
      margin-left: 2.7em;
      margin-top: 0.5em;
    }

    .checklist-todo {
      list-style: none;
      &:hover {
        background-color: lighten(#091e4214, 65);
      }
      label {
        padding-left: 1rem;
        cursor: pointer;
      }
      .todo-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .delete-todo-btn {
        height: auto;
        margin: 0;
      }
    }

    .container-prec {
      padding-bottom: 1em;
    }
    .progress-bar-container {
      height: 8px;
      background-color: #ccc;
      position: relative;
      border-radius: 2em;
      .progress-bar {
        border-radius: 2em;
        position: absolute;
        height: 100%;
        background-color: #5ba4cf;
        transition: progress-animation 0.3s, width 0.15s;
      }
    }
  }
  @keyframes progress-animation {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
}
