@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
.group-list {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  padding: 0.5em 0.5em 0 8px;
  overflow-y: hidden;
  height: 100%;

  .test {
    display: flex;
    list-style: none;
    gap: 0.5rem;

    .hello {
      overflow-y: overlay;
      overflow-y: auto;
      // height: 100%;
    }

    .group {
      // background-color: $clr19;
      width: rem(272px);
      position: relative;
      max-height: fit-content;
      display: flex;
      flex-direction: column;
      border-radius: $edge-round;

      .delete-group-btn {
        position: absolute;
        top: 0.9rem;
        right: 2%;
      }
    }
  }
}

.add-group-btn {
  height: 2.5rem;
  width: 17rem;
  border-radius: $edge-round;
  text-align: start;
  background-color: $clr18;
  min-width: fit-content;
  transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;

  &:hover {
    background-color: opacify($clr18, 0.1);
  }
}

.group-preview {
  border-radius: $edge-round;
  padding: 1em 1.1em 1em 0.7em;
  font-size: 14px;
  background-color: #ebecf0;
  box-shadow: (0 1px 0 $clr17);
  min-width: rem(272px);
  font-family: "Open Sans", sans-serif;

  h4 {
    color: $clr7;
    font-family: "Open Sans", sans-serif;
  }
}
