.group-list {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  margin: 0.5em 0.5em;

  .group {
    background-color: $clr19;
    width: rem(272px);
    position: relative;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 0.2em;

    .delete-group-btn {
      position: absolute;
      bottom: 85%;
      left: 85%;
    }
  }
}

.add-group-btn {
  height: 2.5rem;
  width: 17rem;
  border-radius: 0.3em;
  text-align: start;
  background-color: $clr18;
  transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1) .3s;

  &:hover {
    background-color: opacify($clr18, 0.1);
  }
}

.group-preview {
  border-radius: 0.2em;
  padding: 1em 1.1em 1em 0.7em;
  font-size: 14px;
  background-color: #ebecf0;
  box-shadow: (0 1px 0 $clr17);
}