.board-header {
  font-family: OpenSans-Regular;
  margin-top: 10px;
  margin-left: 15px;
  display: flex;
  align-items: flex-start;
  // flex-wrap: wrap;

  .board-action-filter {
    margin-left: auto;

    .board-filter-icon {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }
  }

  .board-action-dashboard {}

  .board-title {
    min-width: fit-content;
    // flex-basis: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    color: #fff;
    padding-inline: 2px;
    padding: 0 10px;
    cursor: pointer;

    &:hover {
      background-color: #0000003d;
      border-radius: 3px;
    }
  }

  .board-title-input {
    height: 32px;
    font-size: 18px;
    max-width: fit-content;
  }

  .board-actions {
    display: flex;
    margin: 0 10px;
    justify-content: space-between;
    flex-grow: 1;
    flex-wrap: wrap;

    .align-left {
      display: flex;
    }

    .align-right {
      display: flex;

      .board-action-members {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h3 {
          margin: 0 0 0.4em;
        }

        .member-image {
          width: rem(28px);
          height: rem(28px);
          border-radius: 20em;
          margin-bottom: 5px;
          // position: relative;
          // left: 75%;
        }
      }
    }

    input {
      min-width: fit-content;
      padding: 10px;
    }
  }

  button {
    background-color: rgba(255, 255, 255, 0.5);

    text-decoration: none;
    max-width: 400px;
    line-height: 32px;
    height: 32px;
    font-size: 14px;
    border-radius: 3px;
    padding: 0 12px 0 12px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 0.3em;

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }

  .open-menu-icon {
    font-size: 18px;
  }

  .btn-divider {
    color: rgba(255, 255, 255, 0.5);
    margin: 0px 5px;
  }
}

.menu {
  box-shadow: var(--ds-shadow-overlay, 0 12px 24px -6px #091e4240, 0 0 0 1px var(--ds-border, #091e4214));
  max-height: 100%;
  overflow-y: scroll;
  position: fixed;
  left: 100%;
  top: 0;
  min-width: 385px;
  box-sizing: border-box;
  background-color: #fff;
  transition: 0.5s all;
  margin-top: rem(45px);
  z-index: 100;

  .close-menu-icon {
    position: absolute;
    top: 30px;
    cursor: pointer;
    right: 10px;

  }

  // transition: transform 1s linear;
  // transform: translateX(-20%);

}


.menu.show {
  left: 85%;
  // transform: translateX(0px);

}