.board-filter {

  .board-filter-title {
    color: var(--ds-text-subtle, #5e6c84);
    padding: 0.5em;
    text-align: center;
  }

  .filter-keyword {
    color: var(--ds-text-subtle, #5e6c84);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    margin-top: 16px;
    margin-bottom: 8px;
    margin-left: 0.5em;

  }

  .search-input {
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: OpenSans-Regular;
    font-size: 14px;
    border-radius: 3px;
    padding: 8px 12px;
    box-shadow: inset 0 0 0 2px var(--ds-border-input, #dfe1e6);
    width: 100%;
    margin-bottom: 0;

    &:focus {
      box-shadow: inset 0 0 0 2px var(--ds-border-focused, #0079bf);
    }
  }

  ul {
    list-style: none;
  }

  .members-filter-title {
    color: var(--ds-text-subtle, #5e6c84);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    margin-top: 16px;
    margin-bottom: 8px;
    margin-left: 0.5em;
  }

  .labels-filter-list {
    padding: 0;

    .labels-title-filter {
      color: var(--ds-text-subtle, #5e6c84);
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      margin-top: 16px;
      margin-bottom: 8px;
      margin-left: 0.5em;

    }



    .label-filter-title-preview {
      .label-item {
        display: flex;
        align-items: center;
        gap: 1em;
        height: 32px;
        color: black;
        margin-bottom: 0.4em;
      }



      .filter-label-title {
        display: flex;
        align-items: center;
        width: 100%;
        height: 32px;
        position: relative;
        border-radius: 3px;
        cursor: pointer;
      }

      .label-filter-title {
        margin-left: 3em;
        font-size: 13px;
      }


      .circle {
        position: absolute;
        left: 1rem;
        border-radius: 50%;
        width: 16px;
        height: 16px;
      }
    }
  }

  .filter-by-members {
    ul {
      padding: 0;
      list-style: none;
      display: flex;
      gap: 0.5em;
      flex-direction: column;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        div {
          gap: 0.5em;
          display: flex;
          align-items: center;

          img {
            margin-left: 0.5em;
            width: rem(35px);
            border-radius: 20em;
            margin-bottom: 5px;
          }
        }
      }
    }

    .filter-member-check {
      margin-right: 0.5em;
    }
  }
}