.dashboard {

    background: linear-gradient(to right, #f9f9f9, #fff);
    height: 100%;
    place-content: center;
    padding: 5em;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 0.25fr));
    grid-template-rows: 150px 600px;
    gap: 2em;
    grid-template-areas:
        'board-one board-two board-three board-four'
        'doughnut-dashboard line-dashboard line-dashboard line-dashboard';





    .board-info-one {
        background: linear-gradient(to right, #00b0ff, #0091ea);
        border-radius: 15px;

        width: 100%;
        height: 100%;
        grid-area: board-one;
    }

    .board-info-two {
        background: linear-gradient(to right, #ff416c, #ff4b2b);
        border-radius: 15px;

        width: 100%;
        height: 100%;
        grid-area: board-two;

    }

    .board-info-three {
        background: linear-gradient(#11998e, #38ef7d);
        border-radius: 15px;

        width: 100%;
        height: 100%;
        grid-area: board-three;
    }

    .board-info-four {
        background: linear-gradient(to right, #9c27b0, #6a1b9a);
        border-radius: 15px;
        width: 100%;
        height: 100%;
        grid-area: board-four;
    }

    .doughnut-dashboard {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        grid-area: doughnut-dashboard;
    }

    .line-dashbaord {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        grid-area: line-dashboard;
    }

    // height: 100%;

    // display: grid;
    // box-sizing: border-box;
    // grid-template-columns: repeat(2, minmax(0, 1000px));
    // grid-auto-rows: minmax(550px, 0.5fr);
    // grid-column-gap: 32px;
    // grid-row-gap: 32px;
    // overflow-y: auto;
    // -webkit-overflow-scrolling: touch;
    // -webkit-transform: translate3d(0, 0, 0);
}

.board-dashboard {

    h3 {
        font-family: OpenSans-Regular;
        text-align: center;
        color: $clr7;
    }

    background-color: var(--ds-surface-overlay, #FAFBFC);
    width: 100%;
    height: 100%;
    border-radius: 6px;
    box-shadow: var(--ds-shadow-raised, 0 3px 5px rgba(9, 30, 66, 0.2), 0 0 1px rgba(9, 30, 66, 0.31));
}