@font-face {
  // font-family: caveat;
  // src: url(../../fonts/Caveat/Caveat-Regular.ttf);
}

@font-face {
  font-family: HelveticaNeue Bold;
  src: url("../../fonts/HelveticaNeue\ Medium.ttf");
}

@font-face {
  font-family: HelveticaNeue Regular;
  src: url("../../fonts/HelveticaNeue\ Regular.ttf");
}

@font-face {
  font-family: Pacifico;
  src: url("../../fonts/Pacifico-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  src: url('../../fonts/Roboto-Regular.ttf')
}

@font-face {
  font-family: OpenSans-Regular;
  src: url("../../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSans-Bold;
  src: url("../../fonts/OpenSans-Bold.ttf");
}